:root{
    --primary-color: #FBBF24;
    --secondary-color: #FDE68A;
    --dark-color: #ffa600;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body{
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box{
    min-height: 80vh;
    width: 60%;
    background: white;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    border-radius: 1rem;
    display: flex;
    backdrop-filter: blur(10rem);
}
h1{
    color: var(--primary-color);
}
.nav-bar{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    justify-content: space-evenly;
    background: white;
    text-align: center;
    border-radius: 1rem;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
}
.nav-bar img{
    max-width: 80%;
    width: 350px;
    margin: 1rem;
    padding: 1rem;
}

/*Content*/
.content{
    flex:1;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#inputTxt{
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    margin: auto;
    border: none;
    width: 60%;
}
#btnElement{
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 1rem;
}
#btnElement:hover{
    background-color:var(--dark-color);
}
#outputTxt{
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    margin: auto;
    border: none;
    width: 60%;
    opacity: 0.6;
}
.footer{
    margin:1rem;

}